# 00. 설치/실행/종료

# 01. intro

## 단축키
- ctrl + enter : 지금 셀 실행 
- shift + enter : 지금 셀 실행 + 아래로 이동 
- alt + enter : 지금 셀 실행+ 아래에 새로운 셀 추가

## 1. 변수


변수이름 `=` 값

- 변수 이름은 어떤 이름이든 상관 없음. 
- 그러나 가능하면 '영어, 숫자, `_`를 이용하여 선언 
- 키워드는 사용불가

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a = 11

코드 실행은 내가 코드를 실행한 순서
'Kernel' - Restart Kernel and clear Outputs : 앞에 내가 진행한 코드 모두 비활성화

In [ ]:
import keyword
keyword.kwlist

### 1.1 number

In [ ]:
a = 100000

In [ ]:
a

In [ ]:
type(a)

int : '정수'라는 의미

In [ ]:
b = 1.1

In [ ]:
b

In [ ]:
type(b)

float : '소수'라는 의미

In [ ]:
c = 1 - 4j

In [ ]:
c

In [ ]:
type(c)

complex : '실수+허수(복합타입)'이라는 의미

In [ ]:
c.imag

In [ ]:
c.real


### 1.2 Boolean

`True`, `False`로 이루어진 타입

In [ ]:
a = True

In [ ]:
type(a)

true = 1 / false = 0

### 1.3 None

In [ ]:
a = None

In [ ]:
type(a)

### 1.4 String
- 문자열은 ', "를 이용하여 표현 
- 이때 같은 따옴표로 시작하고 끝나야 함.
- 하나를 선택하여 통일성 있게 사용하는 것이 바람직. (마치 띄어쓰기, 맞춤법과 같으므로)

In [ ]:
a = 'hello'

In [ ]:
type(a)

In [ ]:
b = "world"

In [ ]:
age = input()

In [ ]:
print('pizza')

In [ ]:
print("안녕하세요? '최하은'입니다.")

In [ ]:
print('안녕하세요? \'최하은\'입니다.')

In [ ]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성할 수 있어요.
'''

In [ ]:
print(a)

In [ ]:
print('하나', '둘', '셋')

In [ ]:
age = input()

### 1.5 string interpolation

1. %-formatting
2. str.format()
3. f-string
- 3번을 가장 많이 사용. 1/2번은 옛날 문법이므로 읽을 수만 있으면 됨

In [ ]:
age = 100

In [ ]:
print('홍길동은 11살입니다.')

#### 1. %-formatting

In [ ]:
print('홍길동은 %s살입니다.' % age)

#### 2. str.format()

In [ ]:
print('홍길동은 {}살입니다.'.format(age))

#### 3. f-string

In [ ]:
print(f'홍길동은 {age}살입니다.')

## 2. 연산자

### 2.1 산술연산자

In [ ]:
a = 2
b = 3

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)
print(divmod(a,b))

덧셈
뺄셈
곱셈
나눗셈
지수
나눈 몫
나눈 나머지
(몫, 나머지) - mod

In [ ]:
a + b
a - b

- jupyter의 경우 맨 마지막줄만 출력하므로, 여러줄일 경우 print문을 사용할 것. (print문의 사용여부에 따라 결과값이 숫자는 같더라도 다름)

### 2.2 비교연산자

In [ ]:
a = 5
b = 10

In [ ]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

- `==` 양편이 같은지 비교
- `!=' 양편이 다른지 비교

In [ ]:
print('hi' == 'hi')
print('Hi' == 'hi')

### 2.3 논리연산자

- and : 양쪽 모두 참일 때만 참 = 양편 중 하나라도 거짓이면 거짓
- or : 양쪽 모두 거짓일 때만 거짓 = 양편 중 하나라도 참이면 참
- not : 값을 반대로 전환

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
print(True)
print(not True)
print(False)
print(not False)

a = True
print(not a)

- 단축평가(and)

0 = F
1,2,3,4,... = T

In [ ]:
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

뒤의 값
뒤의 값
앞의 값
앞의 값
출력됨

- 단축평가(or)

In [ ]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

앞의 값
앞의 값
뒤의 값
뒤의 값
출력됨

In [ ]:
print(None or 'index.html')

뒤의 값 출력됨

In [ ]:
print('login.html' or 'index.html')

앞의 값 출력됨

### 2.4 복합연산자

In [ ]:
a = 2
b = 3

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

오른쪽 값을 a에 할당하는 상황 / 아래에서는 축약한 형태로 적는 것

In [ ]:
print(a)

In [ ]:
a += b
a -= b
a *= b
print(a)

### 2.4 기타연산자

- 글자데이터를 갖고 연산 
- 연산자가 연결하는 데이터들은 같은 종류여야 함 (글자끼리, 숫자끼리 등)

In [ ]:
#concatenation : 글자를 연결

a = 'hi'
b = 'hello'

a + b

In [ ]:
a + 1

In [ ]:
# contatinment : 포함되어있는지 확인
print('a' in 'apple')
print('z' in 'apple')
print(1 in [1, 2, 3])
print(100 in [1, 2, 3])

In [ ]:
# is : 양쪽 데이터의 위치가 같은지 확인

a = 123123
b = 123123
print(a is b)
# 데이터의 메모리 주소가 서로 다름


a = 256
b = 256
print(a is b)
# 계산을 빠르게 하기 위해 미리 할당해둔 위치에 있는 숫자이므로 메모리 주소가 같음

#### 연산자 우선순위
0. ( )를 통해 그룹핑
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자, is, in
5. not
6. and, or

In [ ]:
print(-3 ** 4)
print((-3) ** 4)

## 형변환
### 3.1 암시적 형변환 (자동으로 알아서 바뀌는 것)

In [ ]:
a = True
b = False
c = 1

In [ ]:
print(a + c)
print(b + c)

In [ ]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [ ]:
print(int_num + float_num)
print(int_num + complex_num)

### 3.1 암시적 형변환 (자동으로 알아서 바뀌는 것)

In [ ]:
a = 1
b = '번'

In [ ]:
a + b

In [ ]:
print(str(a) + b)

In [ ]:
a = '100'

In [ ]:
print(type(a))
print(type(int(a)))

In [ ]:
age = input()

In [3]:
a = '3.3'

In [4]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [5]:
type(float(a))

float

In [6]:
a = 1
b = 0
c = 100

In [7]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [8]:
print(bool(''))
print(bool('a'))

False
True

글자유무에 따라 참/거짓

In [11]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형
- 시퀀스 : 데이터의 순서대로 나열된 자료구조 (순서대로 나열되어있다는 것은 정렬된 것과는 다르다.)

1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, value3]
- 접근 : 변수이름[index]

In [12]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [23]:
#선언
location = ['서울', '대전', '부산']
print(location)
print(type(location))

#접근
print(location[0])
print(location[1])
print(location[2])

location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
서울
대전
부산
['서울', '대전', '제주']

In [17]:
print(location[3])
# 데이터가 0~2번째밖에 없는데 3을 입력해서 오류가 난 상황

IndexError: list index out of range

In [19]:
print(location[-1])
print(location[-2])
print(location[-3])

부산
대전
서울

In [20]:
print(location[-4])
# 데이이터가 -1~-3번째밖에 없는데 -4를 입력해서 오류가 난 상황

IndexError: list index out of range

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3, ...)
- 접근 : 변수이름[index]
- List와 유사하지만 수정불가능(immutable)하다.

In [24]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [25]:
t[2] = 100
# 튜플은 데이터 수정이 불가능하므로 발생하는 오류

TypeError: 'tuple' object does not support item assignment

In [32]:
result = divmod(9,4)
print(type(result))
print(result[0])
print(result[1])

<class 'tuple'>
2
1

In [34]:
x, y = (1, 2)
print(x,y)

x, y = (y, x)
print(x,y)

1 2
2 1

### 4.3 range
- 범위 데이터를 만들 때 사용
- range(n) : 0부터 n-1까지의 범위 (0이상 n미만)
- range(n, m) : n부터 m-1까지의 범위 (n이상 m미만)
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [36]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [38]:
r = range(5, 15)
print(r)

range(5, 15)

In [42]:
r = range(5, 15, 2)
print(r)
list(r)

range(5, 15, 2)

[5, 7, 9, 11, 13]

### 4.4. string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [45]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [47]:
# indexing : 순서로 각 데이터 요소에 접근하는 것

print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])
#시퀀스 데이터에서 인덱스로 접근할 때 (몇 번째 요소에 접근할 때)는 항상 대괄호 [] 사용

2
22
3
이

In [56]:
# slicing : 데이터를 나눠서 자르는 것

print(my_list[1:3]) # 1번 이상 3번 미만
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_list[1:4:2]) # 1번이상 4번미만의 수를 2의 간격으로 나열
print(my_range[2:7:2]) #

print(my_list[ :3])
print(my_list[3: ])

[2, 3]
(22, 33)
range(3, 7, 2)
이삼
[2, 4]
range(5, 11, 4)
[1, 2, 3]
[4, 5]

In [64]:
# in : 어떤 글자가 해당 범위에 들어있는지 확인

print(11 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

False
True
True
True

In [62]:
# not in : 어떤 글자가 해당 범위에 들어있지 '않은지' 확인

print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

In [68]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (66, 77, 88))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(11, 22, 33, 44, 55, 66, 77, 88)

In [72]:
# *
print(my_string * 3)
print(my_list * 3)

print([0] * 10)
print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [78]:
# 함수
print(len(my_list)) # length 길이 출력
print(min(my_tuple)) # 가장 작은 값 출력
print(max(my_range)) # 가장 큰 값 출력
print(my_list.count(1)) # 전체 데이터 중 1이 몇 개인지 세서 출력

5
11
9
1

## 5. 시퀀스 데이터가 아닌 자료구조 
### 5.1 set
수학에서 사용하는 집합과 동일하게 처리(특징 : 중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [79]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}
# 순서가 없으므로 n 번째 데이터로 인덱싱하는 것 불가능

In [83]:
# 차집합 연산
print(my_set_a - my_set_b)

# 합집합 연산 (or)
print(my_set_a | my_set_b) 

# 교집합 연산 (and)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [85]:
# set는 중복된 값을 모두 없애므로, 단순 리스트를 set로 형변환하면 중복값이 없어짐 
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
### 5.2 dictionary 
- 선언 : 변수이름 = {key1: value1, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져 있다.
- key에는 immutable한 모든 값(불변값 : string, integer, ...)을 사용 가능하다. 
- value에는 모든 데이터를 사용 가능하다. (list, dict도 가능)

In [87]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [92]:
dict_a = {
    'name': 'haeun',
    'age': 10,
    'location': 'seoul',
    'numbers': [1, 2, 3, 4, 5],
    'friends': {
        'a': 10,
        'b': 11,

    },

}


print(dict_a['age'])
print(dict_a['numbers'])
print(dict_a['numbers'][3]) # 리스트의 3번째 값 출력
print(dict_a['friends']['b'])

10
[1, 2, 3, 4, 5]
4
11

In [97]:
# key들만 출력
dict_a.keys()

dict_keys(['name', 'age', 'location', 'numbers', 'friends'])

In [98]:
# value들만 출력
dict_a.values()

dict_values(['haeun', 10, 'seoul', [1, 2, 3, 4, 5], {'a': 10, 'b': 11}])

## 데이터 타입
1. Number
2. Boolean
3. String

## 자료구조
- 시퀀스 자료형
    1. [List] : mutable
    2. (Tuple) : immutable
    3. range() : immutable
    4. 'String' : immutable

- 시퀀스가 아닌 자료형
    1. {Set} : mutable
    2. {Dict: ionary} : mutable