# 제어문

## 조건문(if문)

```python
if <조건식>: 
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드 
```

1. 'if'문은 반드시 참/거짓을 판단할 수 있는 '조건식'과 함께 사용한다. (0 or 1이 나올 경우 자동으로 형변환 발생하여 참/거짓 형태로 바뀜)
2. '조건식'이 참인 경우 `:` 이후의 문장을 실행한다.
3. '조건식'이 거짓인 경우 `else:` 이후의 문장을 실행한다.

In [ ]:
my_string = input()

if my_string == '12/25':
    print('크리스마스')
else:
    print('크리스마스 아님')

In [ ]:
num = 123
num = int(num)

if num % 2 == 0:
    print('짝수')
else:
    print('홀수')

In [ ]:
num = 123
num = int(num)

if num % 2 == 1:
    print('홀수')
else:
    print('짝수')

In [ ]:
# num을 2로 나눈 나머지는 0, 1 두 가지 경우가 있다. 
# if 조건식에 0, 1은 자동형변환이 일어나 False, True로 변환된다. 

num = 123
num = int(num)

if num % 2:
    print('홀수')
else:
    print('짝수')

### elif

```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
...
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```
- 위에서부터 차근차근 걸려서 도출됨. 깔때기 연속처럼

In [ ]:
# 성적 매기기
# 90점 이상 A (95이상 good 추가)
# 80점 이상 B
# 70점 이상 C
# 나머지 F

score = 95

if score >= 90:
    print('A')
    if score >= 95:
        print('good')
elif 90 > score >= 80: 
    print('B')
elif 80 > score >= 70:
    print('C')
else:
    print('F')

In [ ]:
age = input()

### 조건표현식
앞서배운 조건문을 좀더 짧게 표현하는 것이 조건표현식. 그러나 가독성이 떨어지는 면이 있음.

In [ ]:
print('True') if 1 < 0 else print('False')

In [ ]:
print('True') if 1 < 2 else print('False')

In [ ]:
# 위와 똑같음
if 1< 0:
        print('True')
else:
        print('False')

In [ ]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

In [ ]:
num = -5

if num >= 0:
    value = num
else:
    value = 0

print(value)

In [ ]:
num = 5
value = num if num >= 0 else 0
# 등호는 항상 마지막에 연산. 오른쪽거 다 한 후 왼쪽에 할당. 
# 오른쪽 코드 먼저 실행 : 가운데 조건식 num >= 0 먼저 계산 >> 결과에 따라 조건식 앞뒤에 각각 있는 num 또는 0 중에 선택됨
print(value)

In [ ]:
num = -5
value = num if num >= 0 else 0
print(value)

In [ ]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

In [ ]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

## 반복문

### while문
```python
while <조건식>:
    실행할 코드 
#코드실행순서 : while문 내 조건식 먼저 실행 >> True일 때는 아래 실행할 코드 실행 >> 다시 while문으로 올라가 조건식 판별 >> 만약 False로 바뀐다면? >> 아래 코드로 넘어가지 못하고 while문 종료 (whilie문 탈출)
#이때 코드가 무한루프에 빠지지 않도록 탈출코드를 넣어서 반복문을 작성해야 함. 
```

In [ ]:
a = 0

while a < 5:
    print(a)
    a += 1 # a = a + 1와 같음

In [ ]:
greeting = ''

while greeting != 'hi':
    greeting = input('say hello : ')

### for문
정해진 범위 내의 반복

```python
for variable in sequence:
# sequence : 4가지 중 하나 아무거나 가능 (순서로 만들어진 여러 개의 집합)
# variable : sequence 집합에서 꺼내온 데이터
    실행할 코드 
```

In [ ]:
#1. list
numbers = [1, 2, 3, 4, 5]

for number in numbers: #numbers 집합에서 데이터들을 하나씩 꺼내오는 상황
    print(number)

In [ ]:
#2. string
word = input('write words : ')

for char in word:
    print(char)

In [ ]:
#3. range
for i in range(5):
    print(i)
# 알고리즘 문제에 빈출

In [ ]:
#4. tuple
for i in (1, 2, 3, 4, 5):
    print(i)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
for i in my_tuple:
    print(i)

In [ ]:
#연습1. 1~30까지 숫자 중에서 홀수를 출력
for i in range(31):
    if i % 2 == 1:
        print(i)

In [ ]:
#연습1. 1~30까지 숫자 중에서 홀수를 출력 (해제)

numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        print(number)

In [ ]:
#연습2. 1~30까지 숫자 중에서 홀수를 모아서 리스트로 출력 (해제)

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

In [ ]:
#데이터가 여러 개 들어있는 경우 이름 지을 때 복수형으로

In [ ]:
#인덱스

menus = ['라면', '김밥', '떡볶이']

for menu in menus:
    print(menu)
#이게 가장 중요. 이것을 메인으로 이해할 것.

In [ ]:
for i in range(3):
    print(menus[i])

In [ ]:
menus = ['라면', '김밥', '떡볶이', '돈까스']

for menu in menus:
    print(menu)

In [ ]:
for i in range(3):
    print(menus[i])

In [ ]:
for i in range(len(menus)):
#menus라는 리스트의 length를 잼 > range만큼 반복을 돌리고 >> 밑에서 출력하는 것 
    print(menus[i])

In [ ]:
enumerate(menus)
#인덱스번호도 사용하고, 밸류값도 사용할 수 있음 (인덱스와 밸류값을 하나의 집합으로 묶음)
#enumerate라는 함수에 sequence 하나를 만들어서 결과값 출력

In [ ]:
for item in enumerate(menus):
    print(item)
#결과값이 튜플형태로 출력됨. 
#앞에는 해당 아이템의 인덱스 번호, 뒤에는 실제 데이터 값

In [ ]:
for index, menu in enumerate(menus):
    print(index, menu)
#바로 위에서 집합으로 튜플(묶음)으로 나오던 것을, 각각 인덱스와 메뉴에 넣어서 표현

In [ ]:
#여기까지 시퀀스형 데이터의 반복처리

#### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [ ]:
#1. for key in dict:

info = {
    'name' : 'hauen',
    'location' : 'incheon',
    'phone' : '010-4728-8208',
}

for key in info:
    print(key)
    print(info[key])


blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

print('bloodtype is as below')
for key in blood_type:
    print(key)

In [ ]:
#2. for key in dict.keys():

blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

print('bloodtype is as below')
for key in blood_type.keys():
    #blood_type.keys() >> ['A', 'B', 'O', 'AB'] 도출
    #이 딕셔너리를 가져와서 반복문처리 해달라고 표현하므로 위의 것보다 더 정확한 표현이긴 함
    print(key)

blood_type.keys()
# dict_keys() : 하나의 객체(object)

In [ ]:
#3. for value in dict.values():

blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

#총 몇 명인지 계산 (과정1)
for value in blood_type.values():
    print(value)

#총 몇 명인지 계산 (과정2)

result = 0          # for문이 반복되면서 0 + 5 + 4 + 2 + 3이 되는 것
# 밑에서 result에 value를 더해서 result를 만들려면 최초의 기준점이 필요. 해당 기준점을 마련하기 위해 result = 0 씀.
# for문 내에서는 계속 숫자가 바뀌므로, for 문의 영향을 받지 않는 영역에 나온 값을 잠시 넣어두는 것

for value in blood_type.values():
    result = result + value 
    # result += value와 같음
print(f'total of {result} people')

In [ ]:
#4. for key, value in dict.items():
# key와 value가 같이 필요할 때 

blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

blood_type.items() # 결과값은 튜플로 묶여서 나타남

for key, value in blood_type.items():
    print(key)
    print(value)
    print(key, value)
    print(f'bloodtype {key} is total of {value}')

#### break
반복문을 종료시키는 키워드

In [5]:
for i in range(100):
    print(i)
    if i > 10:
        print('over 10')
        break
        # break는 if문 안에 있지만, 자기 자신과 가장 가까운 위쪽 for문과 연결되어 for문을 종료시킴)

0
1
2
3
4
5
6
7
8
9
10
11
over 10

In [13]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리', '보리', ]

# 문제) 보리 보리 보리 보리 쌀 잡았다!

for i in rice:
    print(i)
    if i == '쌀':
        print('got it')
        break

보리
보리
보리
보리
쌀
got it

In [16]:
# 해제) 

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

#### continue
break는 반복문 자체를 멈추는 것인데, continue는 이후의 코드를 실행하지 않고 다음 for문을 실행

In [19]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [21]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    print(f'age {a} is adult.')

age 10 is adult.
age 23 is adult.
age 8 is adult.
age 30 is adult.
age 29 is adult.
age 15 is adult.

In [22]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    if a < 20:
        continue
    print(f'age {a} is adult.')

age 23 is adult.
age 30 is adult.
age 29 is adult.

#### else
else문은 끝까지 반복이 진행된 후 실행합니다. (break를 만나지 않은 경우 실행)

In [24]:
for i in range(10):
    print(i)
    if i > 10:
        break

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(10):
    print(i)
    if i > 10:
        break
else: # break를 만나지 않았다면 이라는 의미이므로, 만나지 않았으므로 실행됨.
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [35]:
for i in range(12):
    print(i)
    if i > 10:
        break
else: # break를 만나지 않았다면 이라는 의미이므로, break를 만난 경우 실행되지 않음. 
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [28]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [38]:
# 예제) numbers를 반복하다가 target이 있으면 True 출력, 없으면 False 출력 
for n in numbers:
    print(n)
    if n == target:
        print(True)
        
else: 
    print(False)

1
True
2
3
4
5
False

In [40]:
# 해제 경우1) 타겟이 있을 경우

numbers = [1, 2, 3, 4, 5]
target = 1

for number in numbers:
    if number == target:
        print('True')
        break
else:
    print(False)

True

In [41]:
# 해제 경우2) 타겟이 없을 경우

numbers = [1, 2, 3, 4, 5]
target = 10

for number in numbers:
    if number == target:
        print('True')
        break
else:
    print(False)

False

#### Pass

In [ ]:
if True:
    pass
# if문 쓰고나서 조건문 충족될 때 무슨 코드를 실행할지 정해두지 않은 경우, pass 사용. 공란이면 오류 발생하므로

# 예시

def logint():
    pass

def logout():
    pass

#### match
- if문이랑 비슷. 파이썬 최신 문법으로, 이런 것이 있구나 하고 넘어가면 됨. 
```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드

In [42]:
status = 404
match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

not found