# 함수(function)
(뒤에 나올 재귀 부분은 나중에 더 자세히 다시 배울 것이고, 앞에 함수 부분 이해하는 것이 중요!)

In [2]:
height = 10
width = 20

height2 = 50
width2 = 100

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 면정은 {area}, 둘레는 {perimeter}입니다.')

area2 = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 면정은 {area2}, 둘레는 {perimeter2}입니다.')

...

사각형의 개수가 계속 늘어난다면? 
위의 함수를 반복해서 쓰기 불편할 것. >> 함수 필요.

- dry
코드를 한 번 작업을 해놓고 그것을 계속해서 사용 가능하면
코드를 반복해서 쓰지 말라는 뜻.

SyntaxError: invalid syntax (232300360.py, line 17)

## 함수의 선언과 호출


y=x+1 이라는 함수를 만드는 것이 선언,
x에다 1을 넣어서 2를 도출해내는것이 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2):
    code1
    code2
    ...
    return value
```

- 함수의 호출(실행)
```python
func_name(parameter1, parameter2)
```

In [4]:
# 첫줄 예시를 함수로 만들기

# 함수의 정의
def rectangle(height, width):  # 함수에는 항상 (소괄호) 붙이기
    area = height * width
    perimeter = (height + width) * 2
    print(area, perimeter)

In [7]:
# 함수의 실행
rectangle(100, 50) 
rectangle(10, 20)
rectangle(30, 90)

5000 300
200 60
2700 240

**단어사용규칙
- snake_case
    - 이름짓는 규칙 : 단어와 단어 사이에 _(언더바)
    - 변수와 함수
- PascalCase
    - 모든 단어들을 시작할 때마다 대문자로 쓰는 것, 띄어쓰기 안 함
    - class 에 사용

In [11]:
# 함수 이름 짓기

#1. snake_case, PascalCase 사용

#2.이미 파이썬이 만들어놓은 함수이므로, 아래 리스트의 이름으로 함수를 만들지 않도록 유의!
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [12]:
# 빌트인 함수 예시

max(1, 3, 5, 6) # 숫자 데이터들 중 가장 큰 수를 골라줌

6

In [30]:
# max와 똑같은 기능을 하는 함수 만들기
# 두 개의 정수를 받아서 큰 수를 출력
# input 만드는 과정.. 

# 나의 답 -- 오답(elif)
def my_max(num1, num2):
    if num1 > num2:
        print('num1이 가장 큽니다.')
    if num2 > num1:
        print('num2가 가장 큽니다.')
    else:
        print('둘이 같습니다.')

my_max(1,2)
my_max(2,1)
my_max(2,2)

num2가 가장 큽니다.
num1이 가장 큽니다.
둘이 같습니다.
둘이 같습니다.

In [22]:
# 해제 
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('둘이 같습니다.')

In [35]:
my_max(1,2)
a = my_max(5,5) #위의 함수는 return을 하지 않았으므로, 자동으로 None을 return한 상태 >> 함수값은 None이 되므로 a = None이 된 상황.
print(a)

num2가 가장 큽니다.
둘이 같습니다.
None

In [ ]:
# output

## 함수의 return
- 함수가 return을 만나면 해당 값을 반환(return)하고 함수를 종료함.
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환
- 따라서, 함수에는 반드시 return이 있어야 함!

In [33]:
def my_max2(num1, num2):    
    #return 'hello'
    
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return num1
# return: 함수의 결과. 함수의 최종 아웃풋. return을 만나는 순간 함수 종료. 아웃풋이 목적이므로.

In [44]:
#(return을 만나면 함수가 어떤 하나의 값으로 치환되므로, 다른 값에 할당 가능.)
a = my_max2(1,2) 
print(a) 
# print문은 값을 시각화하여 도출해내기 위해 사용. 원래는 print문이 없으면 볼 수 없으나 jupyter note의 기능 때문에 여기서는 보이는 것
print(my_max2(1,2)) # 굳이 a로 치환하지 않고 이렇게 해도 됨

2
2

In [36]:
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

my_list_max([1, 2, 3], [2, 3, 4])

[2, 3, 4]

In [38]:
# return은 오직 하나의 객체만 반환하므로, 1,2를 자동으로 tuple로 바꿔서 출력

def my_list_max(list1, list2):
    
    return 1, 2
    
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2
    
my_list_max([1, 2, 3], [2, 3, 4])

(1, 2)

In [45]:
# 예시 : return을 했으므로 10을 결과값
def my_def(x):
    return x * 2

In [46]:
my_def(5)

10

In [47]:
a = my_def(5)
print(a)

10

In [48]:
# 예시 : return을 안 했으므로 return이 none으로 나오므로, 이를 프린트했을 때도 none
def my_def2(x):
    print(x * 2)
    # return None : return을 안 했기에 output은 none

In [50]:
a = my_def2(10)
print(a)

20
None

## 함수의 인수 (소괄호 안에 들어가는 parameter)

### 위치인수
기본적으로 함수는 인수의 위치로 판단합니다.

In [57]:
def cylinder(r, h):
    return 3.14 * r**2 * h

In [58]:
print(cylinder(10, 5))
# 이때 10은 r 자리에, 5는 h 자리에 순서대로 착착 들어감
print(cylinder(5, 10))

1570.0
785.0

### 기본값

```python
def func(p1 = v1):
    code ...
    return p1

In [67]:
# 기본값을 지정하지 않은 경우
def greeting(name):
    return f'{name}님 안녕하세요'

In [63]:
greeting('창희')

'창희님 안녕하세요'

In [64]:
greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

In [65]:
# 기본값을 지정한 경우
def greeting(name='익명'):
    return f'{name}님 안녕하세요'

In [66]:
greeting()

'익명님 안녕하세요'

In [70]:
print('hello', 'world')
# 이때 띄어쓰기는 자동으로 sep=' '로 처리되어 있었음

print('hello', 'world', sep='???')
# sep를 지정해주면 그걸 반영해서 나옴.

hello world
hello???world

In [71]:
# parameter 순서상 기본값인자가 앞에 있고 기본값 없는 인자가 뒤에 있을 경우 >> 첫째 인자를 안 넣고 둘째인자만 넣을 때 꼬임)

def greeting(name='익명', age):
    return f'{name}님은 {age}살입니다.'

SyntaxError: non-default argument follows default argument (2027944172.py, line 1)

In [72]:
greeting('홍길동', 50)
greeting(50)

TypeError: greeting() takes 1 positional argument but 2 were given

In [73]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [75]:
print(greeting(50, '홍길동'))
print(greeting(50))

홍길동님은 50살입니다.
익명님은 50살입니다.

## 키워드 인자
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정 인자를 전달 가능

In [76]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [83]:
print(greeting(10))
print(greeting(20, '길동'))
print(greeting('길동', 30))
print(greeting(name='길동', age=30)) # 순서대로 넣지 않고, 강제로 데이터를 지정

익명님은 10살입니다.
길동님은 20살입니다.
30님은 길동살입니다.
길동님은 30살입니다.

### (1) 가변 인자 리스트
* : 개수가 정해지지 않은 데이터를 받을 때 사용. 데이터의 개수와 관계없이 결과값 전체를 튜플로 묶어줌

```python
def func(*parms):
    code
    ...

In [86]:
def my_print(*words):
    print(words)
    print(type(words))

In [87]:
my_print('a', 'b', 'c')

('a', 'b', 'c')
<class 'tuple'>

In [89]:
# 프린트문에서 구분선을 넣고 싶다면 sep= 라고 키워드 인자를 지정해줘야 함)
print ('a', 'b', 'c', sep='공간')
print ('a', 'b', 'c', '공간')

a공간b공간c
a b c 공간

In [ ]:
# 가변인자를 활용한 max함수 만들기

In [90]:
max(1, 2, 3, 4, 5, 6, 7)

7

In [101]:
#아까 풀었던 문제 중 '여러 개의 숫자를 받아 그중 가장 큰 수를 리턴하는 함수' 만들 때, 
result = 0
을 미리 설정하는 방식을 떠올리지 못했습니다!
문제를 계속 풀다보면 이런 사고방식에 익숙해질까요..?

# 문제) 여러 개의 숫자를 받아 그중 가장 큰 수를 리턴하는 함수

#문제 풀 때 
# 해제 1 (양수만 비교 가능)
def my_max(*numbers):
    result = 0
    
    for number in numbers:
        if result < number:
            result = number
    return result
        
print(my_max(1, 2, 3))
print(my_max(-1, -2, -3))

3
0

In [103]:
# 해제 2 (양수와 음수 모두 비교 가능)
def my_max(*numbers):
    result = numbers[0]
    
    for number in numbers:
        if result < number:
            result = number
    return result
        
print(my_max(1, 2, 3))
print(my_max(-1, -2, -3))

3
-1

### (2) 정의되지 않은 키워드 인자 처리하기
```python
def func(**kwargs):
    code
    ...
```
- 결과값을 dictionary로 만듦.

In [116]:
# dictionary 직접 만들기
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [106]:
# dictionary 만드는 함수 활용하기
info = dict(name='hong', age=20)
print(info)

{'name': 'hong', 'age': 20}

In [109]:
# 예시
def fake_dict(**kwargs):
    print(kwargs)

In [110]:
fake_dict(a=10, b=20)

{'a': 10, 'b': 20}

In [113]:
# 예시
def fake_dict(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')

In [115]:
fake_dict(a=10, b=20)
fake_dict(korean='안녕', english='hello')

a는 10입니다.
b는 20입니다.
korean는 안녕입니다.
english는 hello입니다.

### unpacking (dictionary를 인자로 넣기)

In [118]:
def sign_up(id, pw, pw_confirmation):
    if pw == pw_confirmation:
        print(f'{id}님 회원가입이 완료되었습니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

In [122]:
sign_up('change', '1234', '1234')
sign_up('change', '1234', '4321')

change님 회원가입이 완료되었습니다.
비밀번호가 일치하지 않습니다.

In [143]:
account = {
    'id': 'change',
    'pw': '1234',
    'pw_confirmation': '1234',
}

sign_up(**account)
# 여기에 dictionary로 묶여 있는 데이터를 풀어서 맨 위 함수의 인자들에 각각 적용하는 것. (dictionary의 key가 함수의 인자와 같아야 하는 것)

change님 회원가입이 완료되었습니다.

### lambda 표현식

```python
lambda parameter: expression
```

In [130]:
# lambda는 일종의 임시함수
# 만들어지는 동시에 선언됨
# 인자에 함수를 넣어야 할 때 활용 (한 줄로 쓸 수 있으므로)

# 함수의 정의
lambda x, y: x + y
            #이 자리에 리턴이 생략되었다고 보면 됨

# 정의+출력
(lambda x, y: x + y)(1, 2)

3

In [133]:
def my_sum(x, y):
    return x + y
    
my_sum(1,2)

3

### 타입힌트

In [134]:
def my_sum(a, b):
    return a + b

In [135]:
my_sum(1, 2)

3

In [136]:
my_sum('1', 2)
# 글자 1과 숫자 2는 타입이 달라서 더할 수 없으므로 에러 발생

TypeError: can only concatenate str (not "int") to str

In [142]:
# int가 들어갈 자리에 str를 잘못 입력시 오류는 똑같이 나지만, 다만 읽는 사람들에게 친절하게 힌트를 제공하는 차원
def my_sum(a: int, b: int) -> int:
    return a + b

In [139]:
my_sum(1, 2)

3

In [140]:
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간(scope)
python에서 사용되는 이름들은 이름공간(namespace)에 저장되어 있습니다. 

**LEGB 순서대로
- Local scope: 정의된 함수 내부 (제일 가까운 곳에 저장된 것)
- Enclosed scope: 상위 함수
- Global scope: 함수 밖의 변수 혹은 import된 모듈
- Built-in scope: python이 기본적으로 가지고 있는 함수 혹은 변수

In [3]:
str = '123'

In [4]:
print(str)

123

In [5]:
str(123)

TypeError: 'str' object is not callable

In [ ]:
# 빌트인함수에 str이 있는데, 변수로 str을 지정해버려서 함수인 str을 소환해내지 못하고 오류가 발생하는 상황.
# str을 변수로 정해버려서 그 뒤에서는 str을 변수로만 사용 가능하고 함수로믄 못 씀

In [6]:
del str
# 위에서 만든 str이라는 이름을 가진 공간, 상자를 지워버림. >> 원래 python이 갖고 있던 str이라는 함수에 접근 가능

In [8]:
a = 1

def local_scope(a):
    # a = 5
    print(a)

local_scope(5) # a=5와 a=1이 중첩되나, 더 가까이 있는 a=5가 출력
print(a) # a는 함수 밖에 있으므로 1이 출력

5
1

In [11]:
# 밖에 있는 값에 접근하는 법 : global scope 사용
a = 10

def global_scope():
    global a # 함수 밖에 있는 a를 가져올거야
    print(a)    
    
global_scope()

10

### 재귀(recursive)
재귀함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다. 
(재귀 부분은 나중에 더 자세히 다시 배울 것이고, 앞에 함수 부분 이해하는 것이 중요!)

In [12]:
# 팩토리얼1 (n! = n * n-1 * n-2 * ... * 1)
def fact(n):
    result = 1

    while n > 1:
        result = result * n 
        # (=) result *+ n

        n = n - 1
        # (=) n -= 1

    return result

print(fact(5))

120

#### 재귀
n! = 1 * 2 * ... * n-1 * n


- 1! = 1
- 2! = 1 * 2 = 1! * 2
- 3! = 1 * 2 * 3 = 2! * 3
- 4! = 1 * 2 * 3 * 3 = 3! * 4
- n! = (n-1)! * n

In [14]:
# 팩토리얼2 (재귀 함수)
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n

print(factorial(5))

120

#### 피보나치 수열
(앞 데이터와 다음 데이터를 합해서 그 다음 수열을 만듦)
- F(0) = F(1) = 1
- F(N) = F(N-1) + F(N-2)

In [20]:
# 예시1. 반복문(loop) 활용

def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]
        end2 = result[-2]

        fib_num = end1 + end2

        result.append(fib_num)
        
    return result [-1]
    
print(fib_loop(10))

89

In [19]:
# 예시2. 재귀 방식

def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

print(fib_rec(10))

89